.hero {
  position: relative;
  min-height: 568px;

  @media (min-width: $tablet-width) {
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.hero__header {
  padding-top: 20px;
  height: min-content;
  position: absolute;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    left: calc((100% - 1440px)/2);
  }
}

.hero__content {

}

.hero__slider.swiper {
  height: 568px;

  @media (min-width: $tablet-width) {
    height: 1024px;
  }

  @media (min-width: $desktop-width) {
    height: 800px;
  }
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__list .hero__item {
  padding-block: 85px 20px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;

  @media (min-width: $tablet-width) {
    padding-block: 100px 60px;
  }
}

.hero__slide-illustration {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color-overlay-photo;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__slide-information {

}

.hero__slide-content {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.hero__slide-title {
  margin: 0;
  background-color: $white;
  color: $basic-accent;
  padding: 20px 15px 16px 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    font-size: 36px;
    line-height: 44px;
    padding: 30px 69px 24px 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    max-width: 550px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 62px;
    padding: 40px 50px 30px;
    max-width: 868px;
  }
}

.hero__text-content {
  background-color: $white;
  padding: 0 14px 15px;
  border-bottom-right-radius: 14px;
  width: 267px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 40px 35px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 30px;
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
    padding: 0 5px 35px 50px;
  }

  p {
    margin: 0;
    font-size: 16px;
  }

  p:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.hero__button-wrapper {
  background-color: $white;
  padding: 10px 15px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  width: min-content;

  @media (min-width: $tablet-width) {
    padding: 0 40px 0 35px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 50px 0 30px;
  }
}

.hero__button {
  width: 154px;

  @media (min-width: $tablet-width) {
    width: 198px;
  }

  @media (min-width: $desktop-width) {
    width: 199px;
    min-height: 58px;
  }
}

.hero__pagination.swiper-pagination-horizontal {
  padding: 10px 16px;
  background-color: $white;
  display: flex;
  gap: 12px;
  width: min-content;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  @media (min-width: $tablet-width) {
    padding: 14px 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.hero__pagination .hero__pagination-button {
  background-color: transparent;
  padding: 0;
  width: 8px;
  height: 8px;
  border: 2px solid $basic-accent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;

  @media (min-width: $tablet-width) {
    width: 12px;
    height: 12px;
  }


  &:hover {
    border-color: $white;
    background-color: rgba(49, 109, 194, 0.7);
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  &:focus-visible {
    outline: none;
    background-color: $basic-accent;
  }

  &:active {
    background-color: $color-active-button;
    border-color: $color-active-button;
  }
}

.hero__pagination .hero__pagination-button--active {
  background-color: $color-active-button;
  border-color: $color-active-button;

  &:focus-visible {
    border-color: $basic-accent;
  }
}
