.news-card {
  border-radius: 12px;
  overflow: hidden;
}

.news-card__illustration {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;

  img {
    display: block;
    object-fit: cover;
    width: 100%;
  }
}

.news-card__information {
  grid-area: 1 / 1;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
}

.news-card__date {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  background-color: $basic-secondary;
  color: $basic-accent;
  padding: 13px 12px 5px 0;
  width: min-content;
  box-sizing: border-box;
  border-top-right-radius: 12px;
}

.news-card__title {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  background-color: $basic-secondary;
  color: $basic-accent;
  width: 200px;
  padding: 10px 18px 4px 0;
  box-sizing: border-box;
  border-top-right-radius: 12px;

  @media (min-width: $tablet-width) {
    width: 207px;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 4px;
    width: 190px;
  }
}

.news-card__text-content {
  background-color: $basic-secondary;
  width: 263px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 14px;
  padding: 13px 10px 9px 0;
  border-top-right-radius: 12px;
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 10px;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    width: 240px;
    column-gap: 16px;
    padding: 12px 18px 15px 0;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
    line-height: 18px;
  }

  p {
    margin: 0;
  }
}

.news-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $basic-accent;
  transition: background-color 0.2s ease;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    mask-image: url("/__spritemap#sprite-icon-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 8px 8px;
    background-color: $white;
    transform: rotate(0deg);
    transition: background-color 0.2s ease, transform 0.2s ease;
  }

  &:not(:disabled):hover {
    background-color: $white;
    transition: background-color 0.3s ease;
  }

  &:not(:disabled):hover::before {
    background-color: $basic-accent;
    transform: rotate(45deg);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  &:not(:disabled):focus-visible::before {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    outline: none;
  }

  &:not(:disabled):active {
    background-color: $white;
  }

  &:not(:disabled):active::before {
    background-color: rgba(49, 109, 194, 0.7);
  }

  &:disabled,
  &--disabled {
    pointer-events: none;
    background-color: $color-disabled;
  }

  &:disabled::before,
  &--disabled::before {
    opacity: 0.6;
  }
}

.news-card.news__item--active {
  .news-card__title {
    @media (min-width: $desktop-width) {
      width: 426px;
      padding: 18px 18px 6px 0;
    }
  }

  .news-card__text-content {
    @media (min-width: $desktop-width) {
      width: 468px;
    }
  }
}

.news-card__decoration-angle {
  position: relative;

  &--bottom::after,
  &--top::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: radial-gradient(circle, transparent 16px, $basic-secondary 16px);
    background-size: 32px 32px;
    background-position: bottom left;
  }

  &--bottom::after {
    bottom: 0;
    right: -16px;
  }

  &--top::before {
    top: -16px;
    left: 0;
  }
}
