.page-header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.page-header__logo {
  width: 52px;
  height: 52px;
  grid-area: 1 / 1;
  justify-self: flex-start;
  z-index: 2;
}

.page-header__navigation {
  grid-area: 1 / 1;
  justify-self: flex-end;
}
