/* Шрифты */
$font-famyly: "Manrope", "Arial", sans-serif;

/* Colors */
$white: #ffffff;
$basic-primary: #484848;
$basic-secondary: #f0efe9;
$basic-accent: #316dc2;
$color-error: #ff5e66;
$color-disabled: #a9afb7;
$color-active-button: #275699;
$color-overlay-photo: rgba(49, 109, 194, 0.2);
$color-overlay-body: rgba(13, 29, 51, 0.4);

/* Ширина */
$tablet-width: 768px;
$desktop-width: 1440px;
